whisper/dataset/audio_path_train.csv filter=lfs diff=lfs merge=lfs -text
whisper/dataset/dataset_train.csv filter=lfs diff=lfs merge=lfs -text
whisper/model_finetuned/whisper-small-2025-02-23_1639/model.safetensors filter=lfs diff=lfs merge=lfs -text
whisper/model_finetuned/whisper-small-2025-02-23_1123/model.safetensors filter=lfs diff=lfs merge=lfs -text
